<template>
  <div id="height_separator">
  </div>
</template>

<script>
export default {
  name: 'HeightSeparator',
}
</script>

<style scoped>
#height_separator {
    padding-bottom: 50px;
}
</style>
