<template>
  <div id="input_div">
    <input id="input_field" v-bind:placeholder="placeholder" v-bind:value="value" />
    <!-- <label id="input_label" for="input_field">{{ placeholder }}</label> -->
  </div>
</template>

<script>
export default {
  name: 'InputField',
  props: {
    placeholder: String,
    value: String
  }
}
</script>

<style scoped>
#input_div {
  padding: 10px 120px;
}

#input_field {
  border: none;
  padding: 0.6rem 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.3rem;
  /* transition: all 0.3s; */
}

/*
#input_label {
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  padding: 0 1rem;
  display: block;
  text-align: left;
  transition: all 0.3s;
  transform: translateY(0rem);
}
*/
</style>
