<template>
  <div id="login_form">
    <div id="title">Welcome to Piggy Bank!</div>
    <div id="enter_creds">Enter your credentials</div>
    <InputField placeholder="User" />
    <InputField placeholder="Password" />
    <HeightSeparator />
    <PiggyButton label="Log in" color="#828282" />
    <PiggyButton label="Register" color="#dbae4d" />
  </div>
</template>

<script>
import InputField from './InputField.vue';
import PiggyButton from './PiggyButton.vue';
import HeightSeparator from './HeightSeparator.vue';

export default {
  name: 'LoginForm',
  components: {
    InputField,
    PiggyButton,
    HeightSeparator
  }
}
</script>

<style>
#login_form {
  font-family: Calibri, Arial, sans-serif;
  text-align: center;
  background-color: #e6cfa1;
  margin: 10% 35% 10% 35%;
  border-radius: 25px;
  padding-bottom: 40px;
}

#title {
  font-size: 40px;
  color: #ffffff;
  padding: 20px 50px 0 50px;
}

#enter_creds {
  font-size: 16px;
  color: #6e6e6e;
  padding: 10px 0;
}

</style>
