<template>
  <div id="button_div">
    <button id="button_el" v-bind:style="getButtonColor" >{{ label }}</button>
  </div>
</template>

<script>
export default {
  name: 'PiggyButton',
  props: {
    label: String,
    color: String
  },
  computed: {
    getButtonColor() {
      return {
        "background-color": this.color
      }
    }
  }
}
</script>

<style>
#button_div {
  padding: 5px 120px;
}

#button_el {
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  border: 0;
}
</style>